
h1{
width: 30%;
color: #070D59;
margin:0 auto;
font-family: 'The Girl Next Door', cursive;
font-size: 4rem;
}
.h1{
  padding-top: 35px;
  position: relative;
  right:80px;
  height: 55px;
}
.h2{
  height: 60px;
}
body{
  margin: 0;
  text-align: center;
  background-color: #d6d4e0;
}
.middle{
  background-color: #CEDDEF;
  margin:0;
}
.cloud{
  position: absolute;
  left: 0;
  top: 5px;
}
.castle{
    position: absolute;
    left:0;
    top:0;
    margin: 0;
}
.h3{
  position: relative;
  left:80px;
  color:#1F3C88;
  font-family: 'Poiret One', cursive;
  font-weight: normal;
}
.middle-container{
  margin: 717px 0 0;
  background-color: #CEDDEF;
}
hr{
  border-style:dotted none none;
  border-width: 7px;
  border-color: #5893D4;
  width: 5%
}
.profile-pic{
  border-radius: 100%;
}
.copyright{
  position: relative;
  left:620px;
  color:#C238B5;
}
h2{
color: #1F3C88;
font-family: cursive;
}
h3{
  font-weight: normal;

}
.bottom-container{
  background-color: #5F1854;
  padding-top: 20px;
  margin-top: 40px;
}
.footer-link{
color:#CEDDEF;
padding: 10px 20px;
text-decoration: none;
}
.footer-link:hover{
  background-color: #FFE2E2;
  color:#5F1854;

}
.tt{
  border-radius: 100%;
  width:15%;
  float: left;
  margin-right: 40px;
}
.web-d{
  border-radius: 100%;
  width:15%;
  float: left;
  margin-right: 40px;
}
.skill-row{
  width:60%;
  text-align: left;
  margin: 0 auto;
}
.skills-title{
  font-family: 'Poiret One', cursive;
  font-weight: bold;

}
.skill-row1{
  width:60%;
  text-align: left;
  margin: 0 auto;
}
hr{
  margin: 100px auto;
}

p{
  width: 50%;
  line-height: 2;
  margin: 10px auto;
}
.btn {
  background: #933f99;
  background-image: -webkit-linear-gradient(top, #933f99, #5f1854);
  background-image: -moz-linear-gradient(top, #933f99, #5f1854);
  background-image: -ms-linear-gradient(top, #933f99, #5f1854);
  background-image: -o-linear-gradient(top, #933f99, #5f1854);
  background-image: linear-gradient(to bottom, #933f99, #5f1854);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 20px auto 40px;
}

.btn:hover {
  background: #e1addc;
  background-image: -webkit-linear-gradient(top, #e1addc, #c23855);
  background-image: -moz-linear-gradient(top, #e1addc, #c23855);
  background-image: -ms-linear-gradient(top, #e1addc, #c23855);
  background-image: -o-linear-gradient(top, #e1addc, #c23855);
  background-image: linear-gradient(to bottom, #e1addc, #c23855);
  text-decoration: none;
}
h3{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
.last{
  margin-bottom: 40px;
}
.profile-pic{
  width: 200px;
}
